body
{
    margin: 0;
    padding: 0 10%;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Oswald', 'Roboto Condensed', Verdana;
    font-size: 18px;
    font-stretch: expanded;
    color: #3c3c3c;
}

h1
{
    font-size: 28px;
    margin-left: 30px;
    margin-top: 0;
    float: left;
    color: darkgray;
}

.main-nav
{
    width:100%;
    height: 50px;
    background-color: RGB(34,33,41); 
}
.menu
{
    text-align: center;
    margin: 0;
    float: right;
    list-style-type: none;
    background-color: RGB(34,33,41);
    padding: 0px 10px;
}

.menu a
{
    display: inline-block;
    text-decoration: none;
    width: 150px;
    color: darkgrey;
    line-height: 50px;
    font-family: 'Oswald';
    font-size: 14px;
}

.menu a:hover
{
   background-color: RGB(36,38,41); 
}

ul > li
{
    float: left;
}

.transaction-form
{
    width: 300px;
    display: block;
    margin: 0 auto;
}

form
{
    margin-top: 50px;
    width:300px;

}

.form-label
{
    margin-top: 20px
}

.form-input input, select, textarea
{
    width: 300px;
    height: 30px;
    box-sizing: border-box;
    font-family: Verdana;
    color: #3c3c3c;
}

.form-input textarea 
{
    height: 100px;
    display: block; 
    padding: 5px 10px; 
    border-radius: 3px; 
    background-color: #RBG(236,236,236);
}

.button, form [type=submit]
{
    text-decoration: none;
    font-family: 'Oswald';
    font-size: 16px;
    color: darkgrey;
    background-color: RGB(34,33,41);
    width: 120px;
    height: 40px;
    padding: 5px 20px;
    margin: 20px 10px;
    border: none;
    border-radius: 8px;
}

.form input:focus, .form textarea:focus
{
    outline: none;
    border: 1px solid darkgrey;
}

footer
{
    margin: 30px;
    font-size: 12px;
    text-align: center;
}
