*{
    margin: 0;
    padding: 0;
}
/* ---------------------------------------------------
                      GLOBAL STYLES
----------------------------------------------------*/
body {
    width: 100%;
    background-color: silver;
    font-family: 'Roboto Condensed', 'Oswald', Verdana;
    font-size: 18px;
    background-color: RGB(230,230,230);
    color: #3c3c3c; 
}

.container {
    width: 100%;
}
    
/*------------------------------------------------------
                    MAIN NAVIGATION STYLES
-------------------------------------------------------*/

.nav-wrapper {
    background-image: linear-gradient(to bottom, #19334d, #862d59);
    display: inline-block;
    width: 100%;
    min-width: 300px;
}

h1 {
    padding: 0.1em 1em 0.2em;
    color: darkgray;
    float: left; 
    color: RGB(230,230,230);
    font-family: 'Oswald';
    font-size: 1.4em;
    vertical-align: middle;
}

h2 {
    font-size: 1.2em;
    color: #862d59;
    text-align: center;
}

.logo {
    box-sizing: border-box;
    display: inline-block;
    float:left;
}
    
nav ul {
    font-family: 'Roboto Condensed';
    display: inline-block;
    position: absolute;
    top: 2em;
    list-style: none;  
    background-color: #862d59; 
    right: 0;
    z-index: 10;
    box-shadow: -5px 10px 10px grey;
}

nav ul li {
    box-sizing: border-box;
    border-bottom: solid 1px rgba(0,0,0);
}


nav ul a {
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Roboto Condensed';
    color: RGB(230,230,230);
    padding: 1em;
}

ul li:hover {
    background-color: #73264d; 
    cursor: pointer;
}

ul li:active {
    background-color: #73264d;
}

#menu-dropdown-btn {
    position: fixed;
    top: 0.3em;
    right: 0.5em;
    font-size: 1.5em;
    color: RGB(230,230,230);
    background-color: transparent;
    border: none;
    text-decoration: none;
}

nav ul.closed {
    display: none;
}

@media only screen and (min-width: 600px) {
    

    
    .logo {
        display: block;
    }
    #menu-dropdown-btn {
        display: none;
    }
    
    nav ul.closed {
        display: inline-block;
    }
    
    .nav-wrapper {
        width: 100%;
        background-image: linear-gradient(to bottom, #19334d, #862d59);
    }
    
    .nav-wrapper ul{
        margin: 0 auto;
    }
    
    nav ul li {
        float: left;
        border: none;
        
    }
}
    
@media only screen and (min-width: 900px) {
    
    #menu-dropdown-btn {
        display: none;
    }
    
    .logo {
        display: inline-block;
        float:left;
    }
    nav ul.closed {
        display: inline-block;
    }
    
    .nav-wrapper {
        width: 100%;
        background-image: linear-gradient(to bottom, #19334d, #862d59);
    }
    
    .nav-wrapper ul {
        top: 0px;
        position: relative;
        display: inline-block;
        background-color: transparent;
        box-shadow: none;    
        padding: 0 2em;

    }
    
    nav ul li {
        float: left;
        border: none;
        
    }
}
    
/* ---------------------------------------------------
                GLOBAL FORM STYLES
----------------------------------------------------*/
.image{
    display: block;
    background: url(img/smaller-moneyjar.jpg) no-repeat;
    background-size:100% auto;
    max-width: 100%;
    height: 0;
    padding-bottom: 30%;
    margin: 0 auto;
    display: block;
    border: 2px solid #862d59;
}

.form-wrapper {
    display: block;
    margin: 0 auto;
}

.input-form {
    clear: both;
    padding: 1em 5%;
    max-width: 500px;
    min-width: 220px;
    display: block;
    margin: 0 auto;
}

.form-label {
    margin: 0.7em 0 0 0.1em;
    padding: 0.2em;
    text-align: center;
}

.form-input input, .form-input select, .form-input textarea {
    width: 100%;
    height: 1.8em;
    border: none;
    box-sizing: border-box;
    padding: 0 30px;
    font-family: 'Roboto Condensed';
    font-size: 1em;
    color: #3c3c3c;
}

select option {
    font-size: 0.8em;
    display: inline-block;
}

.form-input textarea {
    height: 6em;
    padding: 5px 2px; 
    background-color: #RBG(236,236,236);
}

.form-input input:focus, .form-input select:focus, .form-input textarea:focus {
    outline: none;
    border-bottom: 2px solid #19334d;
}

@media only screen and (min-width: 720px)
{
    body{
        font-size: 1em;
    }
    .image {
        display: inline-block;
        box-sizing: border-box;
        background: url(img/moneyjar1.jpeg) no-repeat;
        float: left;
        height: 480px;
        width: 350px;
    }
    
    .input-form {
        display: inline-block;
        box-sizing: border-box;
        height: 480px;
        width: 360px;
    }
    
    .form-wrapper {
        max-width: 710px;
        margin: 1.5em auto;
        box-shadow: 5px 10px 10px grey; 
    }
    
    .form-input textarea {
        height: 5em;
    }

}
/* ---------------------------------------------------
                GLOBAL BUTTONS STYLES
----------------------------------------------------*/
.button, form [type=submit]
{
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-size: 1em;
    color: RGB(230,230,230);
    width: 5.5em;
    padding-top: 0.7em;
    padding-bottom: 0.6em;
    border: none;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #19334d, #862d59);
    transition: background-image 1s ease; 
}

form [type=submit]
{
    margin-right: 20px;
}
.button:hover, form [type=submit]:hover,
.button:active, form [type=submit]:active
{  
    background-image: linear-gradient(to bottom, #862d59, #862d59);
    cursor: pointer;
}

.buttons-wrapper
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* ---------------------------------------------------
                GLOBAL FOOTER STYLES
----------------------------------------------------*/

footer
{
    padding: 10px 0;
    font-family: 'Roboto Condensed';
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
}

