
.icon-database:before { content: '\e800'; } /* '' */
.icon-edit:before { content: '\e801'; } /* '' */
.icon-logout-1:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */