
.icon-cog:before { content: '\e800'; } /* '' */
.icon-torso:before { content: '\e801'; } /* '' */
.icon-signal:before { content: '\e802'; } /* '' */
.icon-plus-circle:before { content: '\e803'; } /* '' */
.icon-minus-circle:before { content: '\e804'; } /* '' */
.icon-export:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */